a{color:#3e3e3e}
h1{margin:3em 0 0 0}
header{background:#282828;height:60px;margin:0;padding:0;position:static;width:100%;}
header nav{display:none}
#galeria{margin:0;overflow-x:auto;padding:0;text-align:center;white-space:nowrap}
#slide{margin:6em 0;padding:2em 0;text-align:center}
.logo{float:left;display:inline-block;}
.logo img{display:inline-block;width:150px}
.menu_gal{background:#dbdbdb;display:inline-block;height:300px;vertical-align:top;width:192px;}
.menu_gal img{display:inline-block;height:134.5px;width:192px}
@media screen and (min-width: 768px){header nav{display:inline-block;margin:0 auto;}
header nav ul li{display:inline-block;}
header nav ul li a{color:#f4f2f3;margin:0 1em;text-decoration:none}
header nav ul li a:hover{color:#d40d7d}
}